= simple_form_for(order, url: orders_path, method: :post) do |f|
  = render 'layouts/error', resource: order
  .hstack.gap-4
    .vstack.gap-2
      = f.input :delivery_on, collection: @order.calculate_delivery_dates.map{|date| [date.to_s, date] },include_blank: false, prompt: '選択してください'
      .mb-3.form-text= "お届けには指定の配送日から3日〜4日かかります"
      = f.input :delivery_time, as: :select, collection: [["8:00-12:00", "8:00-12:00"],["12:00-14:00", "12:00-14:00"],["14:00-16:00", "14:00-16:00"],["16:00-18:00", "16:00-18:00"],["18:00-20:00", "18:00-20:00"],["20:00-21:00", "20:00-21:00"]],
        include_blank: false, prompt: '選択してください'
    .vstack.gap-5
      = f.input :order_name, input_html: {value: address.nil? ? "" : address.address_name }
      = f.input :order_address, input_html: {rows: 5, value: address.nil?  ? "" : address.address}
  = f.button :submit, value: '注文する', class: "btn btn-outline-success mb-3"
