.container
  .fs-2.page-title カート内商品
  %table.table.table-sm.w-75.mx-5.table-background{'data-test-id': dom_id(current_cart)}
    %thead
      %tr
        %th
        %th
        %th
        %th
        %th
        %th
    - current_cart.cart_items.adding_order.each do |item|
      %tbody
        %tr
          %th.align-middle.text-center{scope:"row"}= item.food.id
          %td.text-end
            = render 'shared/image', food: item.food, size: "100x60"
          %td.align-middle.text-center.fs-5= item.food.name
          %td.align-middle.text-end= number_to_currency(item.price_including_tax)
          %td.align-middle.text-end
            = render "cart_items/edit_cart_form", cart_item: item
          %td.align-middle
            = button_to "削除する", cart_cart_item_path(item), method: :delete, class: "btn btn-success btn-sm", data: { turbo_method: "delete", turbo_confirm: "削除してよろしいですか？" }
          - unless item.orderable?
            %td.align-middle.text-danger.fw-bold= "注文不可の商品です"
    %tfoot
      %tr
        %th.align-middle.text-end{colspan:5} 合計点数
        %th.align-middle.text-center= total_cart_items_quantity_text
      - if current_cart.orderable?
        %tr
          %th.align-middle.text-end{colspan:5} 送料
          %th.align-middle.text-center= shipping_fee_text
        %tr
          %th.align-middle.text-end{colspan:5} 小計（税込）
          %th.align-middle.text-center= subtotal_text
        %tr
          %th.align-middle.text-end{colspan:5} 代引き手数料
          %th.align-middle.text-center= cash_on_delivery_fee_text
        %tr
          %th.align-middle.text-end{colspan:5} 合計（税込）
          %th.align-middle.text-center= total_price_including_tax_text
  .d-flex.justify-content-end.my-5= cashier_button
