%nav.navbar.navbar-expand-lg.navbar-light.border-bottom.mb-4.justify-content-md-between
  .container
    = link_to 'sakura_market', root_path, id: "logo"
    %ul.nav.nav-pills
      - if user_signed_in?
        %li.nav-item
          = link_to foods_path do
            %i.fa-solid.fa-carrot.fa-2x.mx-4
        %li.nav-item
          = link_to address_path do
            %i.fa-solid.fa-address-book.fa-2x.me-4
        %li.nav-item
          = link_to cart_path do
            %i.fa-solid.fa-cart-shopping.fa-2x
            - if current_cart.cart_items.present?
              %span.position-absolute.top-40.start-150.translate-middle.badge.rounded-pill.bg-danger{'data-test-id': dom_id(current_cart, :cart_items_count)}
                = current_cart.total_cart_items_quantity
        %li.nav-item
          = link_to "注文履歴", orders_path, class: "nav-link"
        %li.nav-item
          = link_to "日記作成", new_post_path, class: "nav-link"
        %li.nav-item
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li.nav-item
          = link_to "アカウント新規作成", new_user_registration_path, class: "nav-link link-success"
        %li.nav-item
          = link_to 'ログイン', new_user_session_path, class: "nav-link link-success"
